body {
    background-color: #F5F5F5;
}

.pop-container {
    height: 400px;
    width: 650px;
    background-color: #FFFCFC;
    border-radius: 20px;
    transform: translateX(50%) translateY(-100vh);
    position: relative;
    animation: Pop 2s ease forwards;
}
.button-exit {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.exit {
    margin-top: 37px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #F31818;
    color: #FFFCFC;
}
.content-section, .content-button {
    text-align: center;
}
.content-section h1,p {
    margin-top: 0;
    margin-bottom: 0;
}
.Iphone {
    width: 214px;
    height: 151px;
}

svg {
height: 50px;
width: 50px;
}

.flip {
    transform: rotateY(180deg);
    margin-left: 20px;
    position: relative;
    animation: moveLeftToRight 1.5s infinite ease-in-out alternate-reverse;
    
}

.notflip {
    margin-right: 20px;
    position: relative;
    animation: moveRightToLeft 1.5s infinite ease-in-out alternate-reverse;
}

h1 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
}

p {
    font-family: Inter;
    font-size: 15px;
    font-weight: 300;
}

.content-button {
    height: 50px;
    display: flex;
    justify-content: center;
}

.content-button button {
    font-size: 25px;
    font-family: Inter;
    font-weight: 800;
    background-color: #FFFCFC;
    border: none;
    cursor: pointer;
    color: #F48200;
}


@keyframes moveLeftToRight {
    from{
        margin-left: 20px;
    }
    to{
        margin-left: 60px;
    }
}

@keyframes moveRightToLeft {
   
    from{
        margin-right: 20px;
    }
    to {
        margin-right: 60px;
    }
    
}

@keyframes Pop {
    0% {
        transform: translateX(50%) translateY(-100vh);
    }
    50% {
        transform: translateX(50%) translateY(40%);
    }
    100%{
        transform: translateX(50%) translateY(20%);
    }
}

